body {
  background-color: rgb(240,240,240);
  font-family: 'Roboto', sans-serif;
  color: rgb(15,15,15);
  font-size: 17px;
  line-height: 30px;
}

h1, h2, h3 {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 20px;
}

a {
  text-decoration: none;
  color: rgb(196, 203, 242);
}

a:hover {
  color: rgb(93, 97, 119);
}

.section-white {
  background-color: white;
  padding: 20px;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(142, 149, 188, 0.1);
  text-align: center;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  margin: 15px auto;
}

.section-white ul {
  list-style: none;
  text-align: center;
  }

.section-white li {
  display: inline;
  margin: 10px 30px;
}

#profile-pic {
  border-radius: 50%;
  box-shadow: 1px 1px 1px rgb( 110, 110, 110)
}

#sidebar {
  position: fixed;
  width: 100px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(93, 97, 119);
  font-size: 40px;
}

#sidebar ul {
  padding-left: 0;
  text-align: center;
}

#sidebar li {
  list-style: none;
  margin: 40px 0;
}

#sidebar a:hover {
  color: white;
}

#page-content {
  margin-left: 100px;
}
